@use './style/variables' as *;

.bookCollection {
	margin: 20px auto;
	width: 100%;
	color: $collection-color-text;

	a {
		text-decoration: none;
		color: inherit;
	}
}

.welcome {
	width: 90%;
	margin: 0 auto;
}
