@use './style/variables' as *;
// Utility

@import './style/utility/checkboxes';
@import './style/utility/radioInput';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap');

// reset, variables & top tier elements

.bookCollection {
	max-width: 1200px;
	margin: 20px auto 0;
	color: $collection-color-text;
	min-height: calc(100dvh - 20px - $header-height - $footer-height);
	a {
		text-decoration: none;
		color: $collection-color-text;
	}
}

.welcome {
	width: 90%;
	margin: 0 auto;
}
