@use '../../style/variables' as *;

.thumbnail {
	width: var(--list-thumbnail);
	height: var(--list-thumbnail);
	flex-shrink: 0;
	margin-right: 5px;

	img {
		width: 100%;
	}
}

.thumbnailBooks {
	min-width: var(--book-thumbnail);
	// width: $book_thumbnail;
	height: auto;
	margin-right: 5px;
}
