@use '../../style/variables' as *;

.thumbnail {
	width: $list_thumbnail;
	height: $list_thumbnail;
	margin-right: 5px;
	img {
		width: 100%;
	}
}

.thumbnailBooks {
	min-width: $book_thumbnail;
	width: $book_thumbnail;
	height: auto;
	margin-right: 10px;
}
