@use '../../style/variables' as *;
.filters {
	width: 90%;
	margin: 0 auto 20px;
}

.bookList {
	width: 95%;
}
// @media (min-width: $breakpoint-1024) {
// 	.books {
// 		width: 95%;
// 		display: flex;
// 		flex-wrap: wrap;
// 		margin: 0 auto;
// 		justify-content: space-between;
// 	}
// }
@media (min-width: $breakpoint-1280) {
	.books {
		display: flex;
		flex-direction: row;
		align-items: flex-start;

		.filters {
			width: auto;
			flex-basis: 20%;
		}
		.bookList {
			width: auto;
			flex-basis: 60%;
			gap: 15px;
		}
	}
}
