@use '../../style/variables' as *;

.collectionList {
	display: flex;
	width: 95%;
	margin: 5px auto 20px;
	flex-wrap: wrap;
	gap: 10px;
	align-items: center;
	justify-content: space-around;

	&:global(.publishers) {
		gap: 12px;
	}
	&:global(.publishers),
	&:global(.genres),
	&:global(.bookSeries) {
		.element {
			a {
				span {
					letter-spacing: 1px;
					font-weight: 500;
				}
			}
		}
	}
	.element {
		flex-basis: 95%;

		a {
			display: flex;
			align-items: center;
			justify-content: flex-start;

			span {
				margin-left: 5px;
				position: relative;
				line-height: 1.2;
				font-size: 0.9rem;
				font-weight: 500;
				letter-spacing: 0.2px;
			}
		}
	}
	h4 {
		flex-basis: 100%;
		margin: 5px auto 10px;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 1px;
		font-size: 1.1rem;
	}
}

@media (min-width: $breakpoint-480) {
	.collectionList {
		margin-bottom: 40px;
		width: 90%;
		&:global(.authors),
		&:global(.translators),
		&:global(.bookSeries),
		&:global(.publishers),
		&:global(.genres) {
			justify-content: space-evenly;
			.element {
				flex-basis: 45%;
			}
		}
	}
}

@media (min-width: $breakpoint-768) {
	.collectionList {
		.element {
			a {
				span {
					font-size: 1.1rem;
				}
			}
		}
	}
}

@media (min-width: $breakpoint-1024) {
	.collectionList {
		&:global(.authors),
		&:global(.translators),
		&:global(.genres) {
			justify-content: space-around;
			.element {
				flex-basis: 26%;
			}
		}
		&:global(.bookSeries),
		&:global(.publishers) {
			justify-content: space-around;
			.element {
				flex-basis: 35%;
			}
		}

		h4 {
			font-size: 1.3rem;
		}
	}
}

@media (min-width: $breakpoint-1280) {
	.collectionList {
		&:global(.authors),
		&:global(.genres),
		&:global(.translators) {
			justify-content: space-between;
			.element {
				flex-basis: 24%;
			}
		}
		&:global(.publishers) {
			.element {
				flex-basis: 32%;
			}
		}
		&:global(.translators),
		&:global(.authors),
		&:global(.genres),
		&:global(.publishers),
		&:global(.bookSeries),
		&.bookList {
			// TODO: add .bookCollection__books__list equivalent when BookList is migrated
			.element {
				a {
					span {
						transition: color 0.2s;

						&::after {
							content: '';
							position: absolute;
							width: 100%;
							transform: scaleX(0);
							height: 2px;
							bottom: -20%;
							left: 0;
							background-color: $collection-color-text;
							transform-origin: bottom right;
							transition: transform 0.2s ease-out;
						}
						&:hover::after {
							transform: scaleX(1);
							transform-origin: bottom left;
						}
					}
				}
				&:hover span::after {
					transform: scaleX(1);
					transform-origin: bottom left;
				}
			}
		}
	}
}
