@use '../../styles/variables';
.hamburgerWrapper {
	position: relative;
	width: 35px;
	height: 35px;
	margin-right: 30px;

	.hamburger {
		// style reset
		border: none;
		background: none;
		font: inherit;
		color: inherit;
		appearance: none;
		// custom styling
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		span {
			display: block;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 25px;
			height: 2.5px;
			background-color: variables.$color-global-light;
			transition: none;
			&:nth-child(1) {
				top: calc(50% - 13px);
			}
			&:nth-child(2) {
				top: calc(50% - 3px);
			}
			&:nth-child(3) {
				top: calc(50% + 7px);
			}
			// &:before,
			// &:after {
			// 	content: '';
			// 	display: block;
			// 	position: absolute;
			// 	left: 0;
			// 	width: 100%;
			// 	height: 100%;
			// 	background-color: inherit;
			// }
			// &:after {
			// 	top: -10px;
			// }
			// &:before {
			// 	top: 10px;
			// }
		}
		&.open {
			span {
				&:nth-child(2) {
					animation: middleSpan 0.2s ease-out forwards;
				}
				&:nth-child(3) {
					animation: bottomSpan 0.2s ease-out forwards;
					animation-delay: 0.3s;
					transform-origin: top right;
				}
			}
			+ .hamburgerContent {
				animation: expandMenu 1s ease-out forwards;
				animation-delay: 0.7s;
				transform-origin: top right;
			}
		}
	}
	.hamburgerContent {
		position: absolute;
		top: 5px;
		right: 3px;
		width: 200px;
		height: 400px;
		z-index: 10;
		border: 3px solid variables.$color-global-light;
		background-color: rgba(variables.$color-global-dark, 0.5);
		backdrop-filter: blur(6px);
		transform: scale(0);
	}
}

@keyframes middleSpan {
	0% {
		transform: translateX(-50%);
	}
	100% {
		transform: translateX(100%);
	}
}

@keyframes bottomSpan {
	0% {
		transform: rotate(0deg);
		top: calc(50% + 7px);
		left: 50%;
		right: auto;
	}
	100% {
		top: 5px;
		right: 5px;
		left: auto;
		transform: rotate(-90deg);
	}
}

@keyframes expandMenu {
	0% {
		transform: scale(0.2);
	}
	100% {
		transform: scale(1);
	}
}
