@use './styles/reset';
@use './styles/variables';

:root {
	--font-main: #{variables.$font-main};
	--font-headings: #{variables.$font-headings};
	--font-size-root: #{variables.$font-size-root};

	--color-global: #{variables.$color-global-dark};
	--text-color-global: #{variables.$color-global-light};
	--color-outline: #{variables.$color-outline};
}
html {
	background-color: var(--color-global);
	color: var(--text-color-global);
}
body {
	max-width: #{variables.$content-width};
	position: relative;
	display: flex;
	margin: 0 auto;
	font-family: var(--font-main);
}

main {
	position: fixed;
	top: 65px;
	height: 80vh;
	display: flex;
	flex-direction: column;
	gap: 50px;
	max-width: variables.$content-width;
	margin: 100px auto;
}
footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 60px;
	margin: 0 auto;
	line-height: 60px;
	text-align: center;
	outline: 1px solid var(--color-outline);
}

[data-theme='light'] {
	--color-global: #{variables.$color-global-light};
	--text-color-global: #{variables.$color-global-dark};
}
