@use './styles/reset';
@use './styles/variables';

:root {
	--font-main: #{variables.$font-main};
	--font-headings: #{variables.$font-headings};
	--font-size-root: #{variables.$font-size-root};

	--color-global: #{variables.$color-global-dark};
	--text-color-global: #{variables.$color-global-light};
	--color-outline: #{variables.$color-outline};
}
#root {
	display: flex;
	flex-direction: column;
}
html {
	color: var(--text-color-global);
	background: radial-gradient(
		ellipse at top,
		#111827 0%,
		#0f172a 40%,
		#020617 80%,
		#000000 100%
	);
}
body {
	max-width: #{variables.$content-width};
	position: relative;
	margin: 0 auto;
	font-family: var(--font-main);
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 50px;
	max-width: variables.$content-width;
	margin: 90px 15px;
}
footer {
	width: 100%;
	height: 60px;
	margin: 0 auto;
	line-height: 60px;
	text-align: center;
	outline: 1px solid var(--color-outline);
}
button {
	// reset
	border: none;
	background: none;
	font: inherit;
	color: inherit;
	appearance: none;
	font-family: var(--font-headings);
}

[data-theme='light'] {
	--color-global: #{variables.$color-global-light};
	--text-color-global: #{variables.$color-global-dark};
	background: var(--color-global);
}
