@use './styles/reset';
@use './styles/variables';

:root {
	--font-main: #{variables.$font-main};
	--font-headings: #{variables.$font-headings};
	--font-size-root: #{variables.$font-size-root};

	--color-global: #{variables.$color-global-dark};
	--text-color-global: #{variables.$color-global-light};
	--color-outline: #{variables.$color-outline};
}
#root {
	display: flex;
	flex-direction: column;
}
html {
	color: var(--text-color-global);
	background: radial-gradient(
		ellipse at top,
		#111827 0%,
		#0f172a 40%,
		#020617 80%,
		#000000 100%
	);
	font-family: var(--font-main);
	scroll-behavior: smooth;
}
body {
	position: relative;
	margin: 0 auto;
}

button {
	// reset
	border: none;
	background: none;
	font: inherit;
	color: inherit;
	appearance: none;
	font-family: var(--font-headings);
}
h1,
h2,
h3,
h4,
h5 {
	font-family: variables.$font-headings;
}

html[data-theme='light'] {
	--color-global: #{variables.$color-global-light};
	--text-color-global: #{variables.$color-global-dark};
	background: var(--color-global);
	background-image: none;
}
section {
	scroll-margin-top: 80px;
}
a {
	cursor: none;
}
