@use '../../style/variables' as *;

.singleRecord {
	width: 100%;
}

.container {
	width: 100%;
	margin: 0 auto;
	position: relative;
	.deleteBtn {
		width: var(--list-thumbnail);
		position: absolute;
		top: 0;
		right: 5px;
		img {
			width: 100%;
		}
	}
	.editBtn {
		width: var(--list-thumbnail);
		position: absolute;
		top: 0;
		right: calc(var(--list-thumbnail) + 10px);
		img {
			width: 100%;
		}
	}
}
