@use '../../style/variables' as *;

.form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.element {
	width: 100%;
	display: flex;
	margin: 2px 0;
	align-items: center;
	justify-content: space-between;

	> label {
		flex-basis: 35%;
		&::first-letter {
			text-transform: capitalize;
		}
	}
	> input {
		min-width: 0;
		flex-grow: 1;
		&[type='radio'] {
			width: auto;
		}
	}
	> select {
		min-width: 0;
		font-family: $collection-font-main;
		text-align: center;
	}

	+ .element {
		margin-top: 2px;
	}
}

.selectFields {
	flex-wrap: wrap;

	// Override Select component layout for form context
	> div > div {
		min-width: 0;
		flex-basis: 70%;
	}
}

.coverUpload {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	label {
		flex-basis: 50%;
	}
}

.fileInput {
	flex-basis: 50%;

	input {
		min-width: 0;
		width: 100%;
	}
}

.fileInputPreview {
	flex-basis: 100%;
	margin: 10px auto;
	max-width: 75px;

	img {
		width: 100%;
		height: 100%;
	}
}

.isBookSeries {
	margin-bottom: 5px;

	label:nth-child(1) {
		flex-basis: 60%;
	}
	label {
		flex-basis: 15%;
	}
}

.cover {
	&:nth-child(1) {
		margin: 0 auto 20px;
		max-width: 200px;

		img {
			width: 100%;
		}
	}
}

@media (min-width: $breakpoint-480) {
	.coverUpload {
		label {
			flex-basis: 30%;
		}
	}
	.fileInput {
		flex-basis: 70%;
	}
	.fileInputPreview {
		max-width: 100px;
	}
}

@media (min-width: $breakpoint-768) {
	.form {
		justify-content: space-between;
	}
	.cover {
		&:nth-child(1) {
			flex-basis: 100% !important;
		}
	}
	.element {
		label {
			flex-basis: 30%;
		}
		input {
			flex-grow: 1;
		}
	}
	.coverUpload {
		label {
			flex-basis: 20%;
		}
	}
	.fileInputPreview {
		max-width: 150px;
	}
}

@media (min-width: $breakpoint-1280) {
	.element {
		label {
			flex-basis: 25%;
		}
		input {
			flex-grow: 1;
		}
	}
	.selectFields {
		> div {
			justify-content: space-between;
			flex-basis: 49%;

			> label {
				flex-basis: 25%;
			}
			> div {
				flex-basis: 75%;

				> select {
					flex-basis: 50%;
				}
				> button {
					flex-basis: 35%;
				}
			}
		}
	}
	.isBookSeries {
		margin: 15px 0;
	}
}
