.location {
	padding-top: 10px;
	flex-basis: 5vh;

	&__text {
		letter-spacing: 1px;
		color: $collection-color-text;
		background-color: transparent;
		display: block;
		text-align: center;
		text-transform: uppercase;
	}
}
