@use './variables' as *;

.gameContainer {
	.game {
		&__questionCounter {
			border-bottom: 1px solid #040461;
			width: 150px;
			text-align: center;
		}

		&__result {
			text-align: center;
			width: 100%;

			h3 {
				font-size: 3rem;
				text-align: center;
				letter-spacing: 2px;
			}

			p {
				margin-top: 15px;
				font-size: 2rem;
				text-align: center;
			}

			button {
				width: 90%;
				margin: 25px auto 0;
				padding: 12px 0;
				font-size: 1.4rem;
				font-weight: 500;
				letter-spacing: 2px;
				text-transform: uppercase;
				cursor: pointer;
				border: none;
				border-radius: 10px;
				background: #040461;
				color: white;
				transition: 0.5s;
				transform-origin: center;

				&:hover {
					letter-spacing: 5px;
				}
			}
		}
	}
}

@media (min-width: $bp-480) {
	.gameContainer .game {
		&__questionCounter {
			width: 170px;
		}

		&__result {
			h3 {
				font-size: 4rem;
				letter-spacing: 3px;
			}

			p {
				font-size: 2.2rem;
			}

			button {
				width: 80%;
				font-size: 1.6rem;
				letter-spacing: 3px;
			}
		}
	}
}

@media (min-width: $bp-768) {
	.gameContainer .game {
		&__questionCounter {
			width: 180px;
		}

		&__result {
			h3 {
				font-size: 5rem;
				letter-spacing: 4px;
			}

			p {
				margin-top: 20px;
				font-size: 2.5rem;
			}

			button {
				width: 70%;
				margin: 35px auto 0;
				padding: 14px 0;
				font-size: 1.8rem;
				letter-spacing: 3px;

				&:hover {
					letter-spacing: 6px;
				}
			}
		}
	}
}

@media (min-width: $bp-1280) {
	.gameContainer .game {
		&__questionCounter {
			width: 200px;
		}

		&__result {
			h3 {
				font-size: 6rem;
				letter-spacing: 5px;
			}

			p {
				margin-top: 25px;
				font-size: 3rem;
			}

			button {
				width: 60%;
				margin: 50px auto 0;
				padding: 15px 0;
				font-size: 2rem;
				letter-spacing: 4px;

				&:hover {
					letter-spacing: 8px;
				}
			}
		}
	}
}
