.gameContainer {
	margin-top: 50px;
	form {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
		h2 {
			flex-basis: 80%;
			font-size: 3rem;
			text-align: center;
			margin-bottom: 20px;
			span {
				font-family: 'Noto Sans JP', sans-serif;
				font-weight: 600;
			}
		}
		fieldset {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			label {
				display: none;
			}
			> div {
				flex-basis: 40%;
				display: flex;
				align-items: center;
				justify-content: center;
				label {
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 2.5rem;
					line-height: 4rem;
					cursor: pointer;
					input {
						display: block;
						position: relative;
						border: 0px;
						height: 2rem;
						width: 2rem;
						margin-right: 10px;
						cursor: pointer;
					}
				}
			}
		}

		button {
			flex-basis: 51%;
			align-self: center;
			justify-self: center;
			margin: 20px auto 0;
			padding: 10px 20px;
			background: none;
			border: none;
			font-size: 2rem;
			text-transform: uppercase;
			cursor: pointer;
			border: 3px solid #040461;
			border-radius: 5px;
			transition: 0.5s;
			&:hover {
				background-color: #040461;
				color: white;
			}
		}
	}
}
