// fonts
$font-main:
	'Inter',
	system-ui,
	-apple-system,
	BlinkMacSystemFont,
	'Segoe UI',
	sans-serif,
	'Apple Color Emoji',
	'Segoe UI Emoji',
	'Segoe UI Symbol',
	'Noto Color Emoji';

$font-headings:
	'Space Grotesk',
	system-ui,
	-apple-system,
	BlinkMacSystemFont,
	'Segoe UI',
	sans-serif;

$font-size-root: 20px;

$content-width: 1200px;

// colors
$color-accent: #06b6d4;

$color-global-dark: #040c13;
$color-global-light: #f3faff;
$color-outline: #4d9aff80;

$breakpoint-480: 480px;
$breakpoint-768: 768px;
$breakpoint-1024: 1024px;
$breakpoint-1280: 1280px;
