// fonts
$font-main:
	'Inter',
	system-ui,
	-apple-system,
	BlinkMacSystemFont,
	'Segoe UI',
	sans-serif,
	'Apple Color Emoji',
	'Segoe UI Emoji',
	'Segoe UI Symbol',
	'Noto Color Emoji';

$font-headings:
	'Space Grotesk',
	system-ui,
	-apple-system,
	BlinkMacSystemFont,
	'Segoe UI',
	sans-serif;

$font-size-root: 20px;

$content-width: 1200px;

// colors
$color-accent: #06b6d4;

$color-global-dark: rgb(4, 12, 19);
$color-global-light: rgb(243, 250, 255);
$color-outline: #4d9aff80;
$color-sections-light: color-mix(
	in srgb,
	var(--text-color-global) 10%,
	transparent
);
$color-sections-dark: rgba(105, 105, 105, 0.1);

$breakpoint-480: 480px;
$breakpoint-768: 768px;
$breakpoint-1024: 1024px;
$breakpoint-1280: 1280px;

// @media(min-width:variables.$breakpoint-480){}
// @media(min-width:variables.$breakpoint-768){}
// @media(min-width:variables.$breakpoint-1024){}
// @media(min-width:variables.$breakpoint-1280){}
