@use '../../../styles/variables';

.footer {
	width: 100%;
	padding: 15px 0 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	outline: 1px solid var(--color-outline);
	span {
		font-size: 0.9rem;
		line-height: 1.2;
	}
}

@media (min-width: variables.$breakpoint-768) {
	.footer {
		span {
			font-size: 1.2rem;
		}
	}
}
