@use '../../../styles/variables';

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	// justify-content: space-evenly;
	// gap: 50px;
	.imageWrapper {
		width: 275px;
		height: 200px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			border-radius: 5%;
		}
	}
	.heroWrapper {
		margin-top: 15px;
		h1 {
			font-size: 1.4rem;
			line-height: 1.7rem;
			text-align: center;
			font-weight: 500;
			span {
				color: variables.$color-accent;
				font-size: 1.7rem;
			}
		}
		p {
			&:nth-child(2) {
				margin-top: 3px;
				color: rgba(variables.$color-global-light, 0.5);
				font-size: 0.8rem;
				text-align: center;
			}
			&:nth-child(3) {
				margin-top: 12px;
				line-height: 1.15rem;
				font-size: 1rem;
				text-align: justify;
			}
		}

		.buttons {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			margin-top: 20px;
			button {
				padding: 10px 15px;
				border-radius: 25px;
				font-size: 1rem;
				font-weight: 700;
				letter-spacing: 0.25px;
				&:nth-child(1) {
					background-color: variables.$color-accent;
				}
				&:nth-child(2) {
					background-color: color-mix(
						in srgb,
						var(--text-color-global) 15%,
						transparent
					);
				}
			}
		}
	}
}

@media (min-width: variables.$breakpoint-480) {
	.hero {
		.imageWrapper {
			width: 375px;
			height: 250px;
		}
		.heroWrapper {
			h1 {
				font-size: 2rem;
				line-height: 2.3rem;
				span {
					font-size: 2.4rem;
				}
			}
			p {
				&:nth-child(2) {
					margin-top: 5px;
					font-size: 1rem;
				}
				&:nth-child(3) {
					margin-top: 15px;
					font-size: 1rem;
				}
			}

			.buttons {
				margin-top: 20px;
			}
		}
	}
}
@media (min-width: variables.$breakpoint-768) {
	.hero {
		margin-top: 10px;
		flex-direction: row-reverse;
		justify-content: space-around;

		.imageWrapper {
			flex-basis: 35%;
			width: auto;
			min-height: 150px;
		}
		.heroWrapper {
			margin-top: 0;
			flex-basis: 57%;
		}
	}
}

@media (min-width: variables.$breakpoint-1024) {
	.hero {
		.heroWrapper {
			h1 {
				font-size: 2.2rem;
				line-height: 2.6rem;
				span {
					font-size: 2.6rem;
				}
			}
			p {
				&:nth-child(2) {
					margin-top: 5px;
					font-size: 1.15rem;
				}
				&:nth-child(3) {
					margin: 15px 20px 0;
					font-size: 1.05rem;
					line-height: 1.3rem;
				}
			}
			.buttons {
				button {
					padding: 12px 20px;
					font-size: 1.1rem;
					letter-spacing: 0.5px;
				}
			}
		}
	}
}

@media (min-width: variables.$breakpoint-1280) {
	.hero {
		min-height: 400px;
		.imageWrapper {
			min-height: 350px;
		}
		.heroWrapper {
			h1 {
				font-size: 3rem;
				line-height: 3.3rem;
				span {
					font-size: 3.7rem;
				}
			}
			p {
				&:nth-child(2) {
					margin-top: 5px;
					font-size: 1.5rem;
				}
				&:nth-child(3) {
					margin: 25px 20px 0;
					font-size: 1.2rem;
					line-height: 1.45rem;
				}
			}
			.buttons {
				margin-top: 30px;
				button {
					padding: 15px 25px;
					font-size: 1.2rem;
					font-weight: 500;
				}
			}
		}
	}
}
