@use '../../../styles/variables';
.hamburgerWrapper {
	position: relative;
	width: 35px;
	height: 35px;
	margin-right: 10px;
	.hamburger {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		span {
			display: block;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 25px;
			height: 2.5px;
			background-color: var(--text-color-global);
			transition: none;
			&:nth-child(1) {
				top: calc(50% - 13px);
			}
			&:nth-child(2) {
				top: calc(50% - 3px);
			}
			&:nth-child(3) {
				top: calc(50% + 7px);
			}
		}
		&.open {
			span {
				&:nth-child(2) {
					animation: middleSpan 0.1s ease-out forwards;
				}
				&:nth-child(3) {
					animation: bottomSpan 0.1s ease-out forwards;
					animation-delay: 0.3s;
					transform-origin: top right;
				}
			}
			+ .hamburgerContent {
				transform: scale(1);
				visibility: visible;
				transition:
					transform 0.3s ease-out 0.7s,
					visibility 0s 0.7s;
			}
		}
	}
	.hamburgerContent {
		position: absolute;
		top: 5px;
		right: 3px;
		width: 200px;
		height: auto;
		z-index: 10;
		border: 3px solid var(--text-color-global);
		background-color: color-mix(
			in srgb,
			var(--color-global) 70%,
			transparent
		);
		backdrop-filter: blur(6px);
		visibility: hidden;
		transform: scale(0);
		transform-origin: top right;
		transition:
			transform 0.2s ease-in,
			visibility 0s linear 0.2s;

		.closeButton {
			position: absolute;
			top: 10px;
			right: 10px;
			font-size: 1rem;
			line-height: 1;
			padding: 5px;
			&:hover {
				opacity: 1;
			}
		}
	}
}
// Media queries
@media (min-width: 400px) {
	.hamburgerWrapper {
		margin-right: 25px;
	}
}

// Animations
@keyframes middleSpan {
	0% {
		transform: translateX(-50%);
	}
	100% {
		transform: translateX(100%);
	}
}

@keyframes bottomSpan {
	0% {
		transform: rotate(0deg);
		top: calc(50% + 7px);
		left: 50%;
		right: auto;
	}
	100% {
		top: 5px;
		right: 5px;
		left: auto;
		transform: rotate(-90deg);
	}
}

@media (prefers-reduced-motion: reduce) {
	.hamburgerContent,
	.hamburger.open + .hamburgerContent {
		transition: none;
	}
	.hamburger.open + .hamburgerContent {
		transform: scale(1);
		visibility: visible;
	}
}
