@use '../../../styles/variables';

.header {
	position: fixed;
	top: 0;
	left: 0;
	height: 65px;
	width: 100%;
	outline: 2px solid variables.$color-outline;
	font-family: variables.$font-headings;
	box-shadow: 0 1px 0 rgba(148, 163, 184, 0.4);
	background-color: var(--color-global);
	> div {
		display: flex;
		align-items: center;
		max-width: variables.$content-width;
		margin: 0 auto;
		line-height: 65px;
		.name {
			margin-left: 15px;
			display: flex;
			align-items: center;
			flex: 1;
			font-size: 0.9rem;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			font-weight: 600;
			span {
				position: relative;
				margin-left: 1rem;
				margin-right: 1rem;
				line-height: 1.7rem;
				font-size: 1.2rem;
				color: variables.$color-accent;
				letter-spacing: 1px;
				font-weight: 500;
				&:after,
				&:before {
					content: '';
					position: absolute;
					width: 10px;
					height: 10px;
				}
				&:after {
					bottom: -2px;
					right: -0.5rem;
					border-bottom: 1.5px solid variables.$color-accent;
					border-right: 1.5px solid variables.$color-accent;
				}
				&:before {
					top: -2px;
					left: -0.5rem;
					border-top: 1.5px solid variables.$color-accent;
					border-left: 1.5px solid variables.$color-accent;
				}
			}
		}
	}
}

@media (min-width: 400px) {
	.header {
		> div {
			.name {
				margin-left: 25px;
				font-size: 1.1rem;
				span {
					line-height: 2rem;
					font-size: 24px;
				}
			}
		}
	}
}
@media (min-width: variables.$breakpoint-1024) {
	.header {
		> div {
			.name {
				margin-left: 30px;
			}
		}
	}
}
@media (min-width: variables.$breakpoint-1280) {
	.header {
		> div {
			.name {
				margin-left: 100px;
			}
		}
	}
}
