@use '../../../styles/variables';

.navWrapper {
	margin-right: 30px;
	.nav {
		ul {
			display: flex;
			position: relative;
			gap: 30px;
			text-transform: capitalize;
			li {
				font-size: 1.2rem;
				font-weight: 400;
			}
			li:nth-last-child(1) {
				display: flex;
				align-items: center;
				justify-content: center;
				> button {
					display: flex;
					justify-content: center;
					align-items: center;
					svg {
						width: 25px;
						height: 25px;
						&.sun {
							fill: variables.$color-global-light;
						}
						&.moon {
							fill: variables.$color-global-dark;
						}
					}
				}
			}
		}
	}
	&.mobile {
		margin-right: 0px;
		.nav {
			float: none;
			ul {
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				margin-left: 20px;
				gap: 0px;
				li:nth-last-child(1) {
					position: fixed;
					bottom: 1rem;
					right: 1rem;
				}
			}
		}
	}
}

@media (min-width: variables.$breakpoint-1024) and (pointer: fine) {
	.navWrapper {
		.nav {
			ul {
				li {
					cursor: pointer;
				}
			}
		}
	}
}
