@use '../../../styles/variables';

.navWrapper {
	margin-right: 30px;
	.nav {
		ul {
			display: flex;
			align-items: center;
			position: relative;
			gap: 30px;
			text-transform: capitalize;
			font-family: variables.$font-headings;
			li {
				font-size: 1.2rem;
				font-weight: 400;
				a {
					text-decoration: none;
					color: currentColor;
				}
			}
		}
	}
	&.mobile {
		margin-right: 0px;
		.nav {
			float: none;
			ul {
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				margin: 30px 0 30px 20px;
				gap: 40px;
			}
		}
	}
}

@media (min-width: variables.$breakpoint-1024) and (pointer: fine) {
	.navWrapper {
		.nav {
			ul {
				gap: 35px;
				li {
					transition: 0.2s;

					a {
						position: relative;
						cursor: pointer;
						&:before,
						&:after {
							content: '';
							position: absolute;

							height: 10px;
							width: 10px;
							transition: 0.5s;
							opacity: 0;
						}
						&:before {
							top: 0;
							left: 0;
							border-top: 2.5px solid variables.$color-accent;
							border-left: 2.5px solid variables.$color-accent;
						}
						&:after {
							bottom: 0;
							right: 0;
							border-bottom: 2.5px solid variables.$color-accent;
							border-right: 2.5px solid variables.$color-accent;
						}
					}
					&:hover {
						// color: variables.$color-accent;

						a {
							font-weight: 700;
							&:before {
								top: -7px;
								left: -10px;
								opacity: 1;
							}
							&:after {
								bottom: -7px;
								right: -10px;
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}
