.bookCollection {
	margin: 20px auto;
	width: 100%;
	color: $collection-color-text;
	.list {
		border: none;
		&__tiles {
			margin: 10px auto;
			&__single_tile {
				margin-top: 5px;
			}
		}
	}
	a.router_link {
		color: $collection-color-text;
		text-decoration: none;
	}
	&__welcome {
		width: 90%;
		margin: 0 auto;
	}
}
.invalid {
	border: red 1px solid;
}
