$main-color: #bcf7ff;
$second-color: #e67eb3;
$third-color: #6de4f3;
$fourth-color: #e6d450;
$fifth-color: #726a30;

$font-size-basic: 14px;
$font-size-p: clamp(1.2rem, 0.439vw + 1.077rem, 2.2rem);
$font-size-h3: clamp(1.8rem, 1.53rem + 1.544vw, 4rem);
$font-size-h4: clamp(1.6rem, 1.428rem + 0.982vw, 3rem);

$cp_button_background: #df691a;
