@use '../styles/variables';

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 100px;
	> :first-child {
		margin-bottom: 40px;
	}
	> *:not(:first-child) {
		padding: 30px;
		&:nth-child(even) {
			background-color: var(--color-sections);
		}
		> div {
			margin: 0 auto;
			max-width: variables.$content-width;
		}
	}
}

@media (min-width: variables.$breakpoint-480) {
	.main {
		> *:not(:first-child) {
			padding: 50px;
		}
	}
}

@media (min-width: variables.$breakpoint-1024) {
	.main {
		margin-top: 120px;
		> :first-child {
			margin-bottom: 70px;
		}
		> *:not(:first-child) {
			padding: 80px;
		}
	}
}
