@use '../styles/variables';

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 100dvw;
	margin-top: 100px;
	> :first-child {
		margin-bottom: 30px;
	}
	> *:not(:first-child) {
		&:nth-child(odd) {
			padding: 80px;
		}
		&:nth-child(even) {
			background-color: rgba(105, 105, 105, 0.1);
			padding: 80px;
		}
		> div {
			margin: 0 auto;
			max-width: variables.$content-width;
		}
	}
}

@media (min-width: variables.$breakpoint-1024) {
	.main {
		margin-top: 120px;
		> :first-child {
			margin-bottom: 70px;
		}
	}
}
