@use '../styles/variables';

.header {
	position: fixed;
	top: 0;
	left: 0;
	height: 65px;
	width: 100%;
	outline: 1px solid variables.$color-outline;
	font-family: variables.$font-headings;
	box-shadow: 0 1px 0 rgba(148, 163, 184, 0.4);

	div {
		max-width: variables.$content-width;
		margin: 0 auto;
		line-height: 65px;
		.name {
			float: left;
			display: flex;
			align-items: center;
			font-size: 1.1rem;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			font-weight: 600;
			span {
				position: relative;
				margin-left: 1rem;
				margin-right: 1rem;
				line-height: 2rem;
				font-size: 24px;
				color: variables.$color-accent;
				letter-spacing: 1px;
				font-weight: 500;
				&:after,
				&:before {
					content: '';
					position: absolute;
					width: 10px;
					height: 10px;
				}
				&:after {
					bottom: -2px;
					right: -0.5rem;
					border-bottom: 1.5px solid variables.$color-accent;
					border-right: 1.5px solid variables.$color-accent;
				}
				&:before {
					top: -2px;
					left: -0.5rem;
					border-top: 1.5px solid variables.$color-accent;
					border-left: 1.5px solid variables.$color-accent;
				}
			}
		}
		.header_nav {
			float: right;
			ul {
				display: flex;
				gap: 30px;
				text-transform: capitalize;

				li {
					font-size: 1.2rem;
					font-weight: 400;
					&:last-child {
						margin-left: 2rem;
						display: flex;
						justify-content: center;
						align-items: center;

						svg {
							width: 25px;
							height: 25px;
							&.sun {
								fill: variables.$color-global-light;
							}
							&.moon {
								color: variables.$color-global-dark;
							}
						}
					}
				}
			}
		}
	}
}
