@use '../styles/variables';

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	gap: 50px;

	.heroWrapper {
		display: flex;
		flex-direction: column;
		flex-basis: 55%;
		h1 {
			font-size: 3rem;
			span {
				color: variables.$color-accent;
			}
		}
		p {
			&:nth-child(2) {
				margin-top: 10px;
				color: rgba(variables.$color-global-light, 0.5);
			}
			&:nth-child(3) {
				margin-top: 30px;
				font-size: 1.2rem;
				text-align: justify;
			}
		}

		.buttons {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			margin-top: 2rem;

			button {
				background-color: variables.$color-global-light;
				border: none;
			}
		}
	}
	.imageWrapper {
		width: 450px;
		height: 350px;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		border-radius: 5%;
	}
}
