$collection-color-accent: #bcf7ff;
$collection-color-error: #e67eb3;
$collection-color-text: #eab308;
$collection-color-dark: #020617;
$collection-color-search: #e2e8f0;
$collection-color-search-accent: #5078ef;

$book_thumbnail: 25px;
$list_thumbnail: 25px;

$collection-font-main: 'Lora', Georgia, 'Times New Roman', serif;
$collection-font-headings: 'Rubik', Arial, Helvetica, sans-serif;

$header-height: 65px;
$footer-height: 45px;
// Mixins

@mixin hover {
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			@content;
		}
	}
}

// Breakpoints

$breakpoint-480: 480px;
$breakpoint-768: 768px;
$breakpoint-1024: 1024px;
$breakpoint-1280: 1280px;

:root {
	--list-thumbnail: #{$list_thumbnail};
	--book-thumbnail: #{$book_thumbnail};
}

@media (min-width: $breakpoint-768) {
	:root {
		--book-thumbnail: 30px;
	}
}
@media (min-width: $breakpoint-1024) {
	:root {
		--book-thumbnail: 35px;
		--list-thumbnail: 30px;
	}
}
@media (min-width: $breakpoint-1280) {
	:root {
		--book-thumbnail: 45px;
		--list-thumbnail: 35px;
	}
}
