$color-accent: #bcf7ff;
$color-error: #e67eb3;
$color-text: #eab308;
$color-dark: #020617;
$color-search: #e2e8f0;
$color-search-accent: #5078ef;

$book_thumbnail: clamp(2rem, 1.632rem + 2.105vw, 5rem);
$list_thumbnail: clamp(1.5rem, 1.316rem + 1.053vw, 3rem);

$collection-font-main: 'Lora', Georgia, 'Times New Roman', serif;
$collection-font-headings: 'Rubik', Arial, Helvetica, sans-serif;

// Mixins

@mixin hover {
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			@content;
		}
	}
}

// Breakpoints

$breakpoint-480: 480px;
$breakpoint-768: 768px;
$breakpoint-1024: 1024px;
$breakpoint-1280: 1280px;
